<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151402684339-e90gchmq917t9n6mtn6jdsnb4q6ptjmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151402684339-e90gchmq917t9n6mtn6jdsnb4q6ptjmd</string>
	<key>API_KEY</key>
	<string>AIzaSyCE8m2uRqaNhDH7F9KaUtcOz8O19n6UPOI</string>
	<key>GCM_SENDER_ID</key>
	<string>151402684339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shifayiy</string>
	<key>PROJECT_ID</key>
	<string>shfayi</string>
	<key>STORAGE_BUCKET</key>
	<string>shfayi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151402684339:ios:89ff2ee47a2a4b3f54f5c6</string>
</dict>
</plist>